<div class="tab">
  <div class="tab-side-menu">
    <app-tab-button class="tab-button-container" *ngFor="let tab of tabs" [tab_button_name]="tab.tab_name"
      [tab_number]="tabs.indexOf(tab)" [tab_is_clicked]="tab.is_clicked" (click)="toggleTabs(tab)">
    </app-tab-button>
    <button class="tab-button add" (click)="addTab()">+</button>
  </div>
  <div class="tab-info-container">
    <div *ngFor="let tab of tabs">
      <div *ngIf="'tab-info ' + tabs.indexOf(tab) == clicked_tab" [ngClass]="'tab-info ' + tabs.indexOf(tab)">
        <h1 class="tab-info-header">{{ tab.tab_name }}</h1>
        <p class="tab-info-text">{{ tab.tab_info }}</p>
      </div>
    </div>
  </div>
</div>
